<div *ngIf="heroService.selectedHero">
  <h2 class="mt-0">{{ heroService.selectedHero.name | uppercase }} details!</h2>
  <label for="name">Hero Name: </label>
  <input
    id="name"
    [(ngModel)]="heroService.selectedHero.name"
    placeholder="name"
    (ngModelChange)="heroService.saveHeroes()"
  />
  <div>
    <div>
      <button (click)="emojiService.togglePicker()">
        Change emoji {{ heroService.selectedHero.emoji }}
      </button>
    </div>
    <app-emoji-picker
      *ngIf="emojiService.showPicker"
      (emitEmoji)="changeEmoji($event)"
    ></app-emoji-picker>
    <button (click)="goBack()">Back</button>
  </div>
</div>
