<div class="flex">
  <div>
    <h2>Heroes</h2>
    <app-spinner></app-spinner>
    <ul class="heroes">
      <li *ngFor="let hero of heroes">
        <button type="button" (click)="onSelect(hero)">
          <span class="badge">{{ hero.id }} </span>
          <span class="name">{{ hero.name }} </span>
          <span class="align-self-center ml-auto">{{ hero.emoji }} </span>
        </button>
        <span
          style="cursor: pointer"
          class="delete align-self-center mx-1"
          title="delete hero"
          (click)="deleteHero(hero)"
        >
          🚮
        </span>
      </li>
    </ul>
  </div>
  <div>
    <h2>Add new Hero</h2>
    <app-add-hero (heroEmit)="add($event)"> </app-add-hero>
  </div>
</div>
